* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.form-control:focus {
    box-shadow: none;
    border-color: #dddddd;
}

:root {
    --bgcolor: #003060;
    --bgcolor2: #0160c0;
    --bgcolor-light: #68BBE3;
    --bgcolor-lighter: #9cd8f7;
    --bgcolor-lightest: #b1dcf1;
    --shadow: #0E86d4;
    --text-color1: #003060;
    --text-color2: #fff;
    --text-color3: #000000;
    --box-shadow-hover: #a2b6ca;
    /* --hover: #26912b; */
}

*p {
    font-size: 0.8rem;
    text-align: left;
}

*ul {
    font-size: 1.125rem;
}

*h1 {
    font-weight: 700;
}

.ul {
    text-decoration: none;
    list-style-type: none;
}

.ul li i {
    margin-right: 10px;
    color: var(--bgcolor);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* ------------------------------- ************************************************ -------------------------------------------  */

html {
    overflow-x: hidden;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    line-height: 1.7;
}

header.gomes-header nav .navbar-nav a {
    color: #fff;
    font-size: 0.78rem;
}

.gomes-header .navbar-brand img {
    width: 100%;
    height: 50px;
    object-fit: cover;
    padding: 10px;
}

section.gomes-section {
    padding: 60px 20px;
}

.vcfo-hero-section {
    padding: 20px;
    color: var(--text-color2) !important;
    background-image: url(./images/shadow-img1.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.vcfo-hero-section h1,
p {
    text-align: left;
}

.vcfo-hero-section .vcfo-container-1 {
    padding: 50px;
}

section.gomes-section.vcfo-hero-section h1 {
    max-width: 80%;
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.6;
}


.hightlight-text {
    color: #6def72;
    font-weight: 600;
    filter: drop-shadow(4px 1px 23px #6def72);
}

.vcfo-hero-section .info-text p {
    font-size: 0.9rem;
    line-height: 1.8;
    font-weight: 200;
}

section.gomes-section.vcfo-hero-section .vcfo-button {
    margin: 50px 0;
    display: flex;
    align-items: center;
    gap: 25px;
}

section.gomes-section button {
    font-size: 0.85rem;
    padding: 14px 33px;
    color: #fff;
    border-color: transparent;
    border-radius: 35px;
    transition: all 0.1s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

section.gomes-section button ion-icon {
    font-size: 1.125rem;
}

section.gomes-section button.get-consultant-btn {
    background: #199d1e;
    border-color: #199d1e;
}

section.gomes-section button.get-consultant-btn:hover {
    background: #1eb623;
    border-color: #1eb623;
    filter: drop-shadow(4px 1px 15px #1eb623);
}

.vcfo-hero-section .row {
    align-items: center;
}

.vcfo-hero-section .vcfo-button .vcfo-button-1 {
    border-radius: 25px;
}

.vcfo-hero-section .vcfo-button .vcfo-button-2 {
    border-radius: 25px;
    margin-left: 25px;
}

.vcfo-hero-section .client-text p {
    font-size: 0.8rem;
    font-weight: 200;
}

.vcfo-hero-section .client-images img {
    object-fit: contain;
    width: 100px;
    height: 40px;
    margin-left: 10px;
}

.vcfo-hero-section .vcfo-container-2 .vcfo-experience-card {
    background: #fff;
    color: #000;
    padding: 7px 5px;
    border-radius: 15px;
    border: 1px solid #ffffff57;
    max-width: 350px;
    margin: 50px;
}

.vcfo-hero-section .vcfo-container-2 .vcfo-experience-card-heading {
    background-color: var(--bgcolor);
    border-radius: 10px;
    color: var(--text-color2);
    height: 50px;
    padding-top: 15px;
    font-size: 1rem;
    font-weight: 600;
}

.vcfo-hero-section .vcfo-container-2 .vcfo-form label {
    margin-top: 10px;
    font-size: 0.8rem;
}

.vcfo-hero-section .vcfo-container-2 .vcfo-form input::placeholder {
    font-size: 0.8rem;
}

.vcfo-hero-section .vcfo-container-2 .vcfo-experience-card-bottom-text {
    line-height: 0.5;
    margin-top: 15px;
}

.vcfo-hero-section .vcfo-container-2 .vcfo-experience-card-bottom-text p {
    text-align: center;
    font-size: 0.8rem;
    font-weight: 600;
}

.vcfo-indsexp-section {
    padding: 20px;
    color: var(--text-color2) !important;
    background: url(./images/shadow-img1.webp);
    backdrop-filter: blur(50px) !important;
    background-repeat: no-repeat;
    background-size: cover;
}

.vcfo-indsexp-section .info-text {
    padding: 50px;
}

.vcfo-indsexp-section .info-text h1 {
    text-align: center;
    font-size: 2.3rem;
}

.vcfo-indsexp-section .info-text p {
    margin: 30px 0;
    text-align: center;
    font-size: 0.9rem;
    line-height: 1.8;
    font-weight: 200;
}

.vcfo-indsexp-section .info-text-2 strong {
    font-size: 25px;
    color: var(--text-color3);
}

.vcfo-indsexp-section .vcfo-indsexp-card {
    background: var(--text-color2);
    color: var(--text-color3);
    border-radius: 16px;
    padding: 10px;
    min-width: 100%;
    margin: 0;
    height: 425px;
    min-height: 100%;
}

.vcfo-indsexp-section .vcfo-indsexp-card .icon-img {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--bgcolor-lighter);
}

.vcfo-indsexp-section .vcfo-indsexp-card .icon-img img {
    width: 100%;
    height: 100%;
    padding-top: 10px;
    object-fit: contain;
    border-radius: 20px;
}

.vcfo-indsexp-section .vcfo-indsexp-card .card-body h4 {
    font-size: 17px;
    font-weight: 600;
}

.vcfo-indsexp-section .vcfo-indsexp-card .card-body p {
    line-height: 1.5;
    font-size: 0.8rem;
}

.vcfo-indsexp-section .vcfo-indsexp-card .indsexp-button {
    margin-bottom: 20px;
}


.virtual-cfo {
    background-image: linear-gradient(220deg, var(--bgcolor), var(--bgcolor-lighter), var(--bgcolor-lighter), var(--bgcolor));
    padding: 0px;
}

.virtual-cfo .virtual-text {
    padding: 40px;
}

.virtual-cfo .virtual-text h1 {
    margin-bottom: 30px;
}

.virtual-cfo .virtual-text p {
    font-size: 0.9rem;
    line-height: 1.7;
}

.virtual-cfo .virtual-ul {
    padding: 30px;
}

.virtual-cfo .virtual-text .virtual-ul h4 {
    margin-bottom: 20px;
}

.virtual-cfo .virtual-text .virtual-ul li i {
    margin-bottom: 5px;
    line-height: 1.7;
}

.vissionaries {
    background-image: linear-gradient(125deg, var(--bgcolor), var(--bgcolor-lighter), var(--bgcolor-lighter), var(--bgcolor));
}

.vissionaries .vissionaries-container {
    padding: 50px;

}

.vissionaries .vissionaries-container .vissionaries-text h1 {
    text-align: center;
    margin-bottom: 30px;
}

.vissionaries .vissionaries-container .vissionaries-text p {
    text-align: center;
    font-size: 0.9rem;
    line-height: 1.7;
    font-weight: 600;
    margin: 50px 70px;
}

.vissionaries .vissionaries-container .leader-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--bgcolor-lighter);
    border-radius: 15px;
}

.vissionaries .vissionaries-container .leader-container .leader-heading {
    padding: 30px;
    width: 30%;
    gap: 10px;
}

.vissionaries .vissionaries-container .leader-container .leader-heading h1{
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: 0.2rem;
    margin: 20px 0;
}

.vissionaries .vissionaries-container .leader-container .leader-heading p{
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 1.5;
    margin: 20px 0;
}

.vissionaries .leader-container .profile-card {
    position: relative;
    width: 20%;
    height: 40%;
    background: var(--bgcolor-lightest);
    padding: 30px;
    border-radius: 50%;
    box-shadow: 0 0 022px var(--text-color3);
    transition: .6s;
}

.vissionaries .leader-container .profile-card:hover {
    border-radius: 5%;
}

.vissionaries .leader-container .profile-card .profile-img {
    position: relative;
    width: 100%;
    height: 100%;
}

.vissionaries .leader-container .profile-card:hover .profile-img {
    transform: translateY(-75%);
}

.vissionaries .leader-container .profile-card .profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
    box-shadow: 0 0 022px var(--text-color3);
    transition: .6s;
}

.vissionaries .leader-container .profile-card .profile-headings {
    transform: translateY(-120%);
    opacity: 0;
    transition: .3s;
}

.vissionaries .leader-container .profile-card:hover .profile-headings{
    opacity: 1;
}

.vissionaries .leader-container .profile-card .profile-headings h3{
    text-align: center;
    font-size: 1.5rem;
    line-height: 1;
    font-weight: 800;
}

.vissionaries .leader-container .profile-card .profile-headings h5{
    font-size: 1rem;
    text-align: center;
    line-height: 1;
    font-weight: 750;
    margin: 10px 0;
}

.vissionaries .leader-container .profile-card .profile-headings p{
    font-size: 0.8rem;
    line-height: 1.3;
    font-weight: 600;
    margin: 2px 0 6px 0;
}

.vissionaries .leader-container .profile-card .profile-headings .profile-social-links a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #333;
    margin-right: 8px;
    font-size: 18px;
}

/* .vissionaries .founder-img {
    background: var(--text-color2);
    border-radius: 20px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    width: 90%;
    height: auto;
    margin-bottom: 50px;
}

.vissionaries .founder-img img {
    object-fit: cover;
    width: 80%;
    padding: 20px;
} */

.vissionaries .founder-text, h3, h6, p {
    text-align: left;

}


.vissionaries .img-wrap {
    position: relative;
    display: flex;
}

.vissionaries .img-wrap .founder-inner-img {
    position: absolute;
    padding: 10px;
    display: block;
    width: 50%;
    margin-top: 250px;
    text-align: left;
    font-size: 15px;
    background: linear-gradient(135deg, rgb(255, 255, 255), rgba(255, 255, 255, 0.568));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);

}

.testimonials {
    padding: 50px;
    background-image: linear-gradient(34deg, var(--bgcolor), var(--bgcolor-lighter), var(--bgcolor-lighter), var(--bgcolor));
}

.testimonials .testimonials-container {
    padding: 50px;
}

.testimonials .testimonials-container h1,
p {}

.testimonials .ratings {
    color: #FFD700;
}

.testimonials .quote {
    color: var(--bgcolor2);
    width: 30%;
    margin-right: 10px;
}

.testimonials .testimonials-experience-card {
    padding: 0px 10px;
    width: auto;
    height: 100%;
    box-sizing: border-box;
    background-color: var(--text-color2);
    border-radius: 15px;
}

.testimonials .testimonials-style {
    display: flex;
    justify-content: space-evenly;
}

.testimonials .testimonials-experience-card-text {
    padding: 10px;
    text-align: left;
    font-size: 15px;
}

/* .testimonials .testimonials-experience-card-image {
    display: flex;
    object-fit: cover;
    padding: 20px;
}

.testimonials .testimonials-experience-card-image img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    vertical-align: middle;
    box-sizing: border-box;
    border-radius: 90px;
} */

.testimonials .testimonials-client-name {
    padding: 20px;
}

.gomes-footer {
    position: relative;
    width: 100%;
    background-image: linear-gradient(135deg, var(--bgcolor), var(--bgcolor-lighter), var(--bgcolor-lighter), var(--bgcolor));
    min-height: 100px;
    padding: 12em 0;
    overflow: hidden;
}

.gomes-footer .vcfo-footer-container {
    padding: 4em;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.gomes-footer .vcfo-footer-container ul {
    list-style-type: none;
}

.gomes-footer .vcfo-footer-row-1 .vertical-bar {
    border-left: 6px solid black;
    height: 200px;
    position: relative;
    right: 50%;
}

.gomes-footer .vcfo-footer-row-1 p {
    text-align: left;
    font-size: 15px;
    padding-right: 50px;
    margin-bottom: 10px;
}

.gomes-footer .vcfo-footer-row-1 .vcfo-footer-logo {
    padding: 0;
    margin: 0;
}

.gomes-footer .vcfo-footer-row-1 .vcfo-footer-logo img {
    width: 80%;
}

.gomes-footer .vcfo-footer-row-1 .vcfo-footer-card-heading {
    font-size: 18px;
    margin-bottom: 30px;
    color: var(--text-color3);
    position: relative;
}

.gomes-footer .vcfo-footer-row-1 .vcfo-footer-card-heading-2 {
    font-size: 18px;
    margin-bottom: 30px;
    color: var(--text-color3);
    position: relative;
    margin-left: 30px;
}

.gomes-footer .vcfo-footer-row-1 .vcfo-social-icons {
    margin-top: 20px;
    display: flex;
    justify-content: left;
    align-items: flex-start;
}

.gomes-footer .vcfo-footer-row-1 .vcfo-social-icons li a {
    color: #000000;
    text-decoration: none;
    margin: 10px;
    padding: 5px 10px;
    background: #fff;
    box-sizing: border-box;
    border-radius: 20px;

}

.gomes-footer .vcfo-footer-row-1 .vcfo-footer-card {
    display: flex;
    object-fit: cover;
}

.gomes-footer .vcfo-footer-row-1 .vcfo-footer-card img {
    width: 30%;
    height: 30%;
    object-fit: contain;
    border-radius: 5px;
}

.gomes-footer .vcfo-footer-row-1 .vcfo-footer-card .vcfo-img-text {
    margin-bottom: 30px;
    position: relative;
    padding: 0 10px;
}

.gomes-footer .vcfo-footer-row-1 .vcfo-footer-card .vcfo-img-text .vcfo-heading {
    font-size: 15px;
    padding: 0 10px;
    line-height: 1.4;
}

.gomes-footer .vcfo-footer-row-1 .vcfo-footer-card .vcfo-img-text .vcfo-meta {
    padding: 0 10px;
}

.gomes-footer .vcfo-footer-row-1 .vcfo-links li a {
    text-decoration: none;
    color: var(--text-color3);
    margin: 0;
    line-height: 3.2;
}

.gomes-footer .vcfo-footer-row-1 .fa-solid {
    width: 40px;
    font-size: 18px;
    padding-top: 2px;
}

.gomes-footer .vcfo-footer-row-1 .vcfo-more-info li {
    color: var(--text-color3);
    padding: 10px;
    text-align: left;
    font-size: 15px;
}

.gomes-footer .vcfo-footer-row-1 .vcfo-more-info li a {
    text-decoration: none !important;
    color: var(--text-color3);
}







@media only screen and (max-width: 1023px) {
    .gomes-section {
        overflow: hidden;
    }

    body {
        font-family: "Poppins", sans-serif;
        font-size: 11px;
        line-height: 1.7;
    }

    .vcfo-hero-section {
        padding: 0 10px 0 0;
        margin: 0;
    }

    .gomes-section .vcfo-hero-section h1 {
        font-size: 3rem;
        font-weight: 300;
        line-height: 1.6;
    }

    .vcfo-hero-section .info-text p {
        font-size: 13.5px;
        line-height: 1.9;
        font-weight: 300;
    }

    .gomes-section .vcfo-button {
        display: flex;
        flex-direction: column;
    }

    .gomes-section .client-text p {
        font-size: 13px;
    }

    .gomes-section .vcfo-container-2 .vcfo-experience-card {
        width: 100%;
        margin: 0;
    }
}

/* footer .menu {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px 0;
      text-align: left;
    }
  
    footer .menu a {
      font-size: 9px !important;
    } */


/* @media (min-width: 320px) and (max-width: 1023px) {
          
      .col-12 {
      padding: 0;
      flex: 0 0 auto;
      width: 100%;
    }
   }  */
